* {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    border-bottom: solid lightgray 1px;
}
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between
}
ul {
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;   
}
nav li {
    font-size: 11pt;
    margin: 0px 20px;
}
.navOptions {
    display: flex;
    flex-direction: column;
}
.navOptions img {
    align-self: center;
    margin-bottom: 10px;
    width: 28px;
}
#logout {
    color: #ff503d;
}
#senior {
    display: flex;
    align-items: center;
}
#menuWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

}
.menuActions {
    background-color: #f4f5f7;
    border: solid 1px #cccfd6;
    position: relative;
    padding: 10px;
    width: 295px;
    margin:10px 20px;
    font-size: 16pt;
    font-weight: bold;
    color: #868686;
}
.layer2 {
    position: absolute;
}
.layer3 {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.actionData p {
    width: 140px;
    text-align: end;
    position: absolute;
    bottom: 19px;
    right: 11px;
}
.actionData img {
    margin-top: 5px;
    margin-left: 15px;
}
.badge {
    position: absolute;
    top: 5px;
    right: 40px;
}
.badge img {
    position: absolute;
}
.badge p {
    font-size: 11pt;
    color: white;
    position: absolute;
    top: 7px;
    left: 12px;
}
.totalPoints {
    font-size: 11pt;
    text-align: center;
    position: absolute;
    top: 0%;
    right: 0%;
    color: white;
    background-color: #fe4f3c;
    width: 165px;
    height: 30px;
}
.banner {
    height: 50px;
    width: 100%;
    background-color: #dfe0e5;   
    font-size: 21pt;
    color: #868686;
}
.banner img {
    margin: 0px 50px;
    height: 50px;
    float: left;
}
#mail { 
    width: 940px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 1px #c6d5d8;
}
#mailList li {
    border-bottom: solid 1px #c6d5d8;
}
#mailMenu {
    display: flex;
    justify-content: space-between;
}
#mailMenu ul {
    margin: 0;
    display: flex;
}
input {
    margin: 10px;
}
.selected {
    background-color: #ff503d;
    color: white;
}
.secondary {
    background-color: #e6e6e6;
}
.fa-circle {
    color: #cbcfd0;
}
.iconSelected {
    color: #ff503d;
}
.reply {
    padding: 10px;
    font-weight: bold;
    border: none;
    background-color: #00d9be;
    color: #00857b;
}



article div {
    margin-top: 30px;
    float: right;

}
.delete {
    padding: 10px;
    font-weight: bold;
    border: none;
    background-color: #ff503d;
    color: white;
}


#mailMenu li {
    padding: 15px;
    border-right: solid 1px #c6d5d8;
}

#mailList li {
    padding: 20px;
    color: #6b6b6b;
    display: flex;
}
#mailList strong {
    width: 150px;
    color: #616161; 
}

#mailList div > * {
    margin: 0px 15px;
}

#mailList li div {
    display: flex;
}
.left {
    margin-left: 0px;
}
.right {
    margin-right: 0px;
}
