@media (max-width: 650px) {
    nav {
        position: relative;
    }
    nav strong {
        display: none;
    }
    #logo {
        width: 50%;
        margin: 0;
    }
    .additionalBannerImg {
        display: none;
    }
    nav ul {
        padding: 0;
        margin: 0;
        width: 30%;
    }
    nav ul li {
        margin: 0 auto;
    }
    .separator {
        display: none;
    }
    .wrapper { 
        width: 90%;
    }
    #menuWrapper {
        margin: 0;
    }
    .menuActions {
        width: 190px;
        font-size: 9pt;
    }
    .actionData img {
        height: 70px;
    }
    .totalPoins {
        width: 25%;
    }
    #mailMenu input{
        display: inline-block;
    }
    #reminders, #circleCare {
        display: none;
    }
    
}